<%- include("./layout/header")%>

<section class="py-5">
    <div class="container">
      <div class="row g-4">

        <!-- Blog Card 1 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <img src="/images/metal-gear-solid-snake-cool-orange-desktop-wallpaper-4k.jpg" class="card-img-top" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title">Getting Started with Bootstrap 5</h5>
              <p class="card-text">Learn how to quickly set up and build responsive websites using the latest Bootstrap 5.3 framework.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <!-- Blog Card 2 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <img src="/images/metal-gear-solid-snake-cool-orange-desktop-wallpaper-4k.jpg" class="card-img-top" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title">Top 10 Web Design Tips</h5>
              <p class="card-text">From layout to color choices, check out our top design tips to improve your website's user experience.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <!-- Blog Card 3 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <img src="/images/metal-gear-solid-snake-cool-orange-desktop-wallpaper-4k.jpg" class="card-img-top" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title">Why Mobile First Matters</h5>
              <p class="card-text">Discover why designing for mobile first is crucial and how it benefits your users and SEO.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <%- include("./layout/footer")%>